.nav {
  position: fixed;
  height: 15rem;
  width: 15rem;
  top: 2%;
  left: 2%;
  background-color:black;
  box-shadow: 0 1rem 5rem rgba(0,0,0,.6);
  border: white;
  border-radius: 3rem;
  color: red;
  font-size: 1rem;
  text-align: center;
  font-family: sportscenter;
}

