@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(0); } }

/* Reset CSS for cross-browser compatibility */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* allows other elements to inherit box-sizing specified in body */
  box-sizing: inherit; }

html {
  /* this makes it a lot easier to calcute rem. 62.5 is 10/16 so our defualt fontsize is relative to user settings. defines what 1 rem is */
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  /* makes it so that padding and width don't add to total size of element. i.e. height and width will now extend to define other parts of the box model */
  box-sizing: border-box; }

body {
  font-family: 'Markazi Text', serif; }

.card {
  padding: 2rem auto;
  margin: 2rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(#f8af32, #0e4aa9);
  height: 20rem;
  width: 20rem;
  position: relative;
  border-radius: 3rem;
  display: inline-block; }
  .card:hover {
    animation: bounce 1s infinite ease-in-out; }
  .card:active {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.6);
    animation: none; }
  .card__img {
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.game {
  height: 100vh;
  width: 100vw;
  background-image: #f8af32, url("http://thedigitalstory.com/2013/05/03/warriors_win_round_one.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.nav {
  position: fixed;
  height: 100vh;
  width: 20vw;
  right: 0;
  background-color: #646464;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 2.5rem; }
